<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.project.review.mapper">
      
      <select id="reviewBoard" resultType="String">
            select product from Review where pno= #{pno}
      </select>
         
      <insert id="reviewRegist">
          insert into review (writer, title , content, satisfaction) values (#{writer}, #{title}, #{content}, #{satisfaction})
            
      </insert>
      
      
      <select id="getList" resultType="ReviewVO">
            select * from review
      </select>
      
      
      
</mapper>